html,
body,
header,
.container,
#jumbo {
    height: 100%;
    width: 100%;
}


#jumbo {
    background: url(../img/art-background-color-459277.jpg) no-repeat center fixed;
    color: white;
    text-align: center;
    padding: 20% 0 0 5%;
}